<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="File"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="FileDB"
     providerName="System.Data.ProviderName"
     connectionString="C:/Users/Anonymous/Documents/visual studio 2010/Projects/FP/FP/AppData/mushroom.dat" />
  </connectionStrings>
</configuration>